@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Text shadow */
.text-shadow{
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}

/* root */


:root {
  --color-1:  white;
  --color-2: black;
}


/* component */

.title h2 {
  color: #044581;
  font-weight: 700 !important;
  font-size: 28px !important;
}
.title span {
  font-weight: 500 !important;
}
.title p {
  font-weight: 500 !important;
  color: #363636 !important;
  font-size: 18px !important;
}
.btn-custom {
  color: var(--color-1);
  background: var(--color-2);
  border: none;
  font-weight: 600;
  z-index: 2;
}
.bg-custom {
  background: var(--color-2) !important;
}

/* navbar */

@media (min-width: 992px) {
  header .active {
    background-color: white !important;
  }
  header .active a {
    color: black;
  }
  header .active a:hover {
    color: black;
  }
  

  .navbar {
    background-color: transparent !important;
    z-index: 2;
  }
  .navbar a {
    color: var(--color-2) !important;
  }
  .navbar a:hover {
    color: var(--color-2) !important;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid var(--color-2);
    width: 100%;
    margin: auto;
    padding-top: 5px;
    margin-bottom: -8px;
  }
}

.navbar {
  background-color: var(--color-1);
  padding: 15px 0;
}
.navbar a {
  color: var(--color-2);
  align-items: center !important;
}
.nav-link {
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
}

.nav-navbar.active {
  background: var(--color-1);
}

#logo{
  width: 70px;
  border-radius: 20px;
}

/* jumbotron  */

@media (min-width: 992px) {
  .jumbotron {
    height: 1000px;
    margin-top: -350px !important;
  }
  .jumbotron .display {
    margin-top: 390px !important;
  }
  .jumbotron .display h1 {
    font-size: 70px;
    font-weight: 600;
  }
  .jumbotron .display p {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
  }
}

.jumbotron {
  background-size: cover;
  background-position: center;
  background-image: url("../img/gif.gif");
  height: 65em;
  background-attachment: fixed;
  margin-top: -230px;
}
.jumbotron .display {
  margin-top: 280px;
}
.jumbotron .display h1 {
  font-size: 60px;
  font-weight: 600;
}
.jumbotron .display h1 span {
  font-weight: 400;
}
.jumbotron .display p {
  font-size: 24px;
  font-weight: 400;
}

.img-fluid {
  transform: translate(-50%, -75%) !important;
}

/*  pricing */

#pricing {
  display: none;
}

.pricing-container-1 {
  height: 100%;
  z-index: 15;
}

.content {
  width: 60em;
}

#exit {
  border-radius: 50%;
}

#exit img {
  width: 60px;
}

.content .card {
  border-radius: 24px !important;
  border: none;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
  height: 500px;
}
.content .custom {
  background: var(--color-2);
  border-radius: 24px 24px 0 0 !important;
}
.content .custom-2 {
  background: var(--color-2);
  border-radius: 0px 0px 24px 24px !important;
  height: 500px;
}
.content h3 {
  font-weight: bolder;
  font-size: 32px;
}
.content ul {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  margin-left: -40px;
}
.content .card-footer {
  border: none;
  margin-bottom: 30px;
  background: transparent;
}

.card .text {
  background: var(--color-2);
  -webkit-text-fill-color: transparent;
}

@media (max-width: 992px) {
  .content-container-1 {
    width: 100vw;
    height: auto;
  }

  .content {
    width: 100%;
  }

  .card {
    margin: 1em 0;
  }
}

/* about  */

.sevices {
  margin: 200px 0 0;
}
.services .card {
  margin: 20px 10px;
  border-radius: 15px;
  border: none;
}
.services h4 {
  padding-top: 20px;
  font-weight: 600;
}
.services p {
  font-weight: 500;
}

/*  Portofolio  */

.img-container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.image-wrapper {
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
  grid-gap: 1.5rem;
  left: 0;
  transition: 0.3s;
}

.image-wrapper > * {
  aspect-ratio: 4 / 3;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
}

.image-wrapper .img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* blog */

.h2 h2{
  color: white;
  margin-top: 50px;
}
.blog .card:hover {
  box-shadow: 0px 14px 38px -9px rgba(0, 0, 0, 0.3), -1px 6px 18px -201px rgba(0, 0, 0, 0.22);
  transition: all 0.5s;
}

.blog .card-title:hover {
  background: var(--color-2);
  -webkit-text-fill-color: transparent;
}

#blog{
  background: url(../img/background.jpg) center center / cover no-repeat;
}

/* Kontak*/

@media (min-width: 992px) {
  .kontak .alamat {
    position: absolute;
    z-index: 1;
    width: 475px;
    margin-top: 65px;
  }
}
.kontak .alamat {
  background: var(--color-2);
  color: var(--color-1);
  padding: 20px;
  border-radius: 10px;
}
.kontak .container {
  padding: 100px 0;
}
.kontak i {
  font-size: 28px;
}
.kontak {
  background: url(../img/gif2.gif) center center / cover no-repeat;
}

/* footer  */

i {
  font-size: 32px;
  padding: 0 10px;
}

#blog{
  background: url(../img/background.jpg) center center / cover no-repeat;
}



/* custom size  */

input,
textarea {
  outline: none;
}
.form {
  width: 50%;
}

@media (max-width: 992px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 786px) {
  .form {
    width: 100%;
  }
}
